<div class="inicio-component">
    <div class="container-section">
        <div class="presentation section-1">
            <div class="presentation-textbox">
                <h2>¡Vive la Fiesta con Covet!</h2>
                <p>¡No te pierdas los eventos más emocionantes en Covet! Descubre a tus artistas de reguetón favoritos y vive noches épicas en las mejores discotecas.</p>
                <a href="/formulario/form.html"><button>Enterate Aqui</button></a>
            </div>
            <img class="presentation-image" src="media/img/blee.png" alt="imagen 1">
        </div>
        
    </div>
    
    <div class="section-2">
    <div class="cards container">
    <div class="card">
        <img class="img-card" src="media/img/pexels-maumascaro-948198.jpg" alt="card 1">
        <div class="card-content">
            <h3>Ambiente Vibrante</h3>
            <p>Imagina un espacio donde la pista de baile está siempre llena y la energía nunca decae. Este concepto está diseñado para ofrecer una experiencia vibrante con música en vivo y tecnología avanzada, ideal para atraer a un público joven y dinámico.</p>
        </div>
    </div>
    <div class="card">
        <img class="img-card" src="media/img/pexels-mediocrememories-2240771.jpg" alt="card 1">
        <div class="card-content">
            <h3>Elegancia y Sofisticación</h3>
            <p>Visualiza un ambiente sofisticado con un diseño elegante y cócteles exclusivos. Este concepto combina lujo y entretenimiento, ofreciendo una experiencia premium para clientes que buscan una noche sofisticada y relajada en un entorno chic</p>
        </div>
    </div>
    <div class="card">
        <img class="img-card" src="media/img/pexels-mart-production-7270012.jpg" alt="card 1">
        <div class="card-content">
            <h3>Diversión Temática</h3>
            <p>Ofrecemos experiencias únicas con temas que cambian regularmente y eventos especiales. Cada noche es una nueva aventura, con DJs y actividades que mantienen la emoción y la variedad en el centro de la diversión.</p>
        </div>
    </div>
    </div>
    </div>
    <div id="services-id" class="section-3">
    <div class="services">
    <div class="services-container">
        <video muted autoplay loop>
            <source src="media/video/6308994_Women_Young Women_3840x2160.mp4" type="video/mp4">
        </video>
        <div class="capa">
            <h2>Una experiencia diferente para cada noche</h2>
            <div class="capa-content">
                <div class="description-services">
                    <div class="service service-1">
                        <h3 class="title-service">MAX</h3>
                        <p class="p-services">Vive la exclusividad total con acceso VIP, beneficios únicos y experiencias personalizadas. La cima de la vida nocturna.</p>
                    </div>
                    <div class="service service-2">
                        <h3 class="title-service">HIGH</h3>
                        <p class="p-services">Accede a eventos con beneficios premium y descuentos especiales. Para quienes buscan una experiencia destacada.</p>
                    </div>
                    <div class="service service-3">
                        <h3 class="title-service">LOW</h3>
                        <p class="p-services">Vive la exclusividad total con acceso VIP, beneficios únicos y experiencias personalizadas. La cima de la vida nocturna.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="section-3b-slider">
    
    </div>
    <div id ="plans-section-id" class="section-4">
    <div class="pricing-table">
    <div class="details">
        <h2>Elige tu plan</h2>
        <p>¡Encuentra la opción perfecta para ti, tu pareja o tus amigos y aprovecha al máximo cada salida!</p>
    </div>
    <div class="grid">
        <div class="box low">
            <div class="tittle">
                <h2>Plan Individual</h2>
            </div>
            <div class="price">
                <b>15k</b>
                <span>por mes</span>
            </div>
            <div class="features">
                <div>Descuentos en Entradas</div>
                <div>Ofertas en Bebidas</div>
                <div>Acceso a Eventos Exclusivos</div>
            </div>
            <div class="button">
                <button class="price-button2">ver mas</button>
            </div>
        </div>
        <div class="box max">
            <div class="tittle">
                <h2>Plan Amigos</h2>
            </div>
            <div class="price">
                <b>45k</b>
                <span>por mes</span>
            </div>
            <div class="features">
                <div>Acceso VIP </div>
                <div>Descuentos en Grupo</div>
                <div>Experiencias Exclusivas</div>
            </div>
            <div class="button">
                <button class="price-button1">ver mas</button>
            </div>
        </div>
        <div class="box high">
            <div class="tittle">
                <h2>Plan Pareja</h2>
            </div>
            <div class="price">
                <b>25k</b>
                <span>por mes</span>
            </div>
            <div class="features">
                <div>Entradas para Dos</div>
                <div>Acceso Prioritario</div>
                <div>Ofertas Exclusivas</div>
            </div>
            <div class="button">
                <button class="price-button2">ver mas</button>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="section-5">
    <div class="slider">
    <div class="slider-items">
        <img src="media/img/Jack-Daniels-Logo.png" alt="Jack-Daniels-Logo">
        <img src="media/img/Johnnie-Walker-logo.png" alt="Johnnie-Walker-Logo">
        <img src="media/img/ronviego_logo_RED_W_RED_STROKE_540X410_300_O.png" alt="Ron-Viejo-Logo">
        <img src="media/img/cerveza-andina-colombia-logo-49937DB500-seeklogo.com.png" alt="Cerveza-Andina-Logo">
        <img src="media/img/corona.jpeg" alt="Cerveza-Corona-Logo">
        <img src="media/img/Chivas-Regal-Logo.png" alt="Chivas-Regal-Logo">
        <img src="media/img/OIP.jpeg" alt="Nectar-Logo">
        <img src="media/img/242057.png" alt="Poker-Logo">
        <img src="media/img/R.png" alt="Heineken-Logo">
        <img src="media/img/Jack-Daniels-Logo.png" alt="Jack-Daniels-Logo">
        <img src="media/img/Johnnie-Walker-logo.png" alt="Johnnie-Walker-Logo">
        <img src="media/img/ronviego_logo_RED_W_RED_STROKE_540X410_300_O.png" alt="Ron-Viejo-Logo">
        <img src="media/img/cerveza-andina-colombia-logo-49937DB500-seeklogo.com.png" alt="Cerveza-Andina-Logo">
        <img src="media/img/corona.jpeg" alt="Cerveza-Corona-Logo">
        <img src="media/img/Chivas-Regal-Logo.png" alt="Chivas-Regal-Logo">
        <img src="media/img/OIP.jpeg" alt="Nectar-Logo">
        <img src="media/img/242057.png" alt="Poker-Logo">
        <img src="media/img/R.png" alt="Heineken-Logo">
    </div>
    </div>
    </div>
    
</div>
