.section-1-main-event {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1-main-event img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 80vh;
    
}

.container-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
}

.item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    width: 100%;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 5%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background:rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

.pagination-item:hover {
    transform: scale(2);
}

.pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1),0,0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}

input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2),0,0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}


@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0),0,0);
    }

    66%{
        transform: translate3d(calc(-100% * 1),0,0);
    }

    100%{
        transform: translate3d(calc(-100% * 2),0,0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    list-style: none;
    text-decoration: none;
}

.sidebar .user img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}
.sidebar {
    position: absolute;
    /* top: 0; */
    left: 0;
    /* height: 100vh; */
    width: 80px;
    background-color: #12171e;
    padding: .4rem .8rem;
    transition: all 0.5 ease;
    
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
    position: relative;
}
.sidebar.active {
    width: 250px;
}
.sidebar #btn {
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color:#fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    font-size: 1.2rem;
    
}
.sidebar.active .top .logo {
    opacity:1;
}
.top .logo i {
    font-size: 2rem;
    margin-right: 20px;
    
}
.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    font-weight: 600;
}
.sidebar p {
    opacity: 0;
}
.sidebar.active p {
    opacity: 1;
}
.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 100%;
    margin: 0.8rem auto;
    line-height: 50px;
}
.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    background-color: #fff ;
    color: #12171e;
}
.sidebar ul li a i {
    min-width:50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}
.sidebar .nav-item {
    opacity: 0;
}
.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: relative;
    left: 75px;
    top: -98%;
    transform: translate(-50%, -50%) ;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem  1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
    background: white;
}
.sidebar ul li:hover .tooltip {
    opacity: 1;
}
.sidebar.active ul li .tooltip {
    display: none;
}

.main-content{
    position: relative;
    background-color: #fff;
    min-height: 100vh;
    top:0;
    left: 80px;
    transition: all 0.5s ease;
    /* width: calc(100% - 250px); */
    width: calc( 100% - 80px );
    padding: 1rem;
}


/* prueba */
a{
    color: unset;
    text-decoration: none;
}
.main-content{

    text-align: center;
    padding-top: 9px;
    padding-bottom: 4rem;
}
.title{
    font-size: xx-large;
    padding: 20px 0;
}
.listProduct .item img{
    height: 15rem;
    width: 99%;
    filter: drop-shadow(0 10px 20px #0009);
    border: 2px solid black;
    border-radius: 16px;
    object-fit: cover;
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
/* detail page */

.detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
}
.detail .image img{
    width: 100%;
}
.detail .image{
    position: relative;
}
.detail .image::before{
    position: absolute;
    width: 300px;
    height: 300px;
    content: '';
    background-color: #94817733;
    z-index: -1;
    border-radius: 190px 100px 170px 180px;
    left: calc(50% - 150px);
    top: 50px;

}
.detail .name{
    font-size: xxx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}
.detail .price{
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 7px;
    margin-bottom: 20px;
}
.detail .buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.detail .buttons button{
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Poppins;
    font-size: large;
}

/* .detail .buttons button:hover{
    background-color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Poppins;
    font-size: large;
    transition: .3s;
    box-shadow: black;
} */

.detail .buttons svg{
    width: 15px;
}
.detail .buttons span{
    background-color: #555454;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
}
.detail .buttons button:nth-child(2){
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    box-shadow: 0 10px 20px #2F2F2F77;
}
.detail .description{
    font-weight: 300;
    font-size: 28px;
}
/* // ipad */
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
    .detail{
        grid-template-columns:  40% 1fr;
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    .detail{
        text-align: center;
        grid-template-columns: 1fr;
    }
    .detail .image img{
        width: unset;
        height: 40vh;
    } 
    .detail .name{
        font-size: x-large;
        margin: 0;

    }
    .detail .buttons button{
        font-size: small;
    }
    .detail .buttons{
        justify-content: center;
    }
}
/* fin prueba */

@media ( max-width: 1400px ) {
    .product {
        flex-basis: 23.5%;
        border: 1px solid orange;
    }
}
@media ( max-width: 1200px ) {
    .product {
        flex-basis: 32%;
        border: 1px solid green;
    }
}
@media ( max-width: 1024px ) {
    .product {
        flex-basis: 32%;
        border: 1px solid green;
    }
}
@media ( max-width: 992px ) {
    .product {
        flex-basis: 31.5%;
        border: 1px solid green;
    }
}

@media ( max-width: 768px ) {
    .product {
        flex-basis: 47%;
        border: 1px solid green;
    }
}
@media ( max-width: 567px ) {
    .product {
        flex-basis: 100%;
        border: 1px solid green;
    }
}
.container{
    height: 100vh;
}
