.register-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #002147; /* Azul oscuro */
  font-size: 1.8em;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #002147; /* Azul oscuro */
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1em;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
  border-color: #0056b3; /* Azul más brillante */
  box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
  outline: none;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #0056b3; /* Azul oscuro */
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-submit:hover {
  background-color: #004494; /* Azul más oscuro */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-submit:disabled {
  background-color: #cccccc; /* Gris claro */
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .register-container {
      width: 95%;
  }

  .form-control, .btn-submit {
      font-size: 1em;
  }
}
