<footer>
    <div class="footer-info">
        <div class="footer-width about">
            <h2>Sobre Nosotros</h2>
            <p>
                Covet es una empresa líder en experiencias nocturnas, proporcionando acceso exclusivo a eventos y discotecas. Ofrecemos planes de suscripción que transforman tu vida social con descuentos, promociones y acceso VIP a las mejores fiestas.
            </p>
            <div class="social-media">
            <ul class="social-media-list">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
            </div>
        </div>
        <div class="footer-width link">
            <h2>Link</h2>
            <ul>
                <li><a [routerLink]="['/home']">Inicio</a></li>
                <li><a [routerLink]="['/home']">Sobre Nosotros</a></li>
                <li><a [routerLink]="['/dasdfsad']">Servicios</a></li>
                <li><a [routerLink]="['/help']">FAQ</a></li>
                <li><a [routerLink]="['/home']">Contáctanos</a></li>
            </ul>
        </div>
        <div class="footer-width contact">
            <h2>Contacto</h2>
            <ul>
                <li>
                    <span><i class="fas fa-map-marker-alt"></i></span>
                    <a href="https://maps.app.goo.gl/uZF8kFd1dFsCCPwK8"> <p>
                        Cra. 13 #54-55, Bogotá
                    </p></a>
                </li>
                <li>
                    <span><i class="far fa-envelope"></i></span>
                    <a href="#">correocovet</a>
                </li>
                <li>
                    <a href=""><span><i class="fas fa-phone-volume"></i></span></a>
                    <a href="#">000 0000 000</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy-right">
        --© Copyright 2024 Covet Todos los derechos reservados
    </div>
</footer>
