<!-- <pre>{{reserve | json }}</pre> -->
<div class="reservations-page">
    <h1>Mis Reservas</h1>
    <button class="back-btn" onclick="window.history.back()">Volver</button>
    
    <div class="reservations-list">
        @for (reserve of reserves; track $index) {
            <div class="reservation-item">
                <div class="reservation-header">
                    <img [src]="reserve?.urlImg" alt="Evento" class="event-icon">
                    <h2>Título del Evento 1</h2>
                </div>
                <p><strong>Fecha:</strong> {{reserve?.date}}</p>
                <p><strong>Ubicación:</strong> {{reserve?.location}}</p>
                <button (click)="cancelarReserva(reserve?._id)" class="cancel-btn">Cancelar Reserva</button>
            </div>
        }

        
        <!-- Agrega más elementos de reserva según sea necesario -->
    </div>
</div>
